.tableContainer div {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.table-responsive-container{
    overflow-x: auto;
}
.selectedRow{
    color: #fff;
    background-color: #ddd;
}

/* thead, tbody {
    min-width: 200px;
} */
tr {
    background-color: inherit;
}
th, td {
    background-color: inherit;
    min-width: 100px;
    border: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

th {
    padding: 10px 0;
}

td input[type='text'] {
    height: 100%;
    width: 100%; 
    padding: 18.5px 0;
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

td div {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}

td i {
    display: flex;
    align-self: center;
    margin: 20% 0;
}

th:hover, th:active {
    cursor: pointer;
}
.tr-even {
    background: #f6f6f6;
}

tbody>tr:hover, tbody>tr:active{
    cursor: pointer;
    background: #ddd !important;
}

.addRowBtn{
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #787878;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
}

.addRowBtn:hover, .addRowBtn:active {
    cursor: pointer;
    color: #fff;
    background-color: #ddd;
    transition: all 500ms;
}
.pagination {
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 10px;
    padding: 10px;
}

.pagination main{
    display: flex;
    flex-flow: column wrap;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(6, 200px);
    grid-gap: 1rem;
    grid-auto-flow: dense; */
/* justify-content: space-between; */
    /* width: 60%; */
}

.pagination main .paginationInfoGroup {

}
.pagination main span{
    margin: 10px;
    padding: 10px;
}

.pagination footer {
    flex: 1;
    margin: 10px;
    padding: 10px;
}

.pagination footer span {
    margin: 10px;
    padding: 10px;
}

.pagination footer span:hover, 
.pagination footer span:active {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(3, 78, 53);
}

.pagination footer span:focus {
    outline: none;
    text-decoration: underline;
    color: #0077cc;
}
.paginationBtn {
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #787878;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
}

.paginationBtn:hover, .paginationBtn:active {
    cursor: pointer;
    color: #fff;
    background-color: #ddd;
    transition: all 500ms;
}

.pagination input {
    height: 30px;
    width: 30px;
}
input:focus{
    outline: none;

}

.modalContainer{
    background-color: rgba(0,0,0,0.8);
    background-size: 100% 100%;
    text-align: center;
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.modalContent{
    color: #787878;
    background: #fff;
    padding: 30px;
    border-radius: 2px;
}

.cancelBtn{
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(207, 25, 25);
    padding: 5px;
    margin: 5px;
}
.cancelBtn:hover, .cancelBtn:active{
    cursor: pointer;
    background-color: rgb(156, 0, 0);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .tableContainer div {
        flex-flow: column wrap;
    }
    .pagination {
        display: flex;
        flex-flow: column wrap;
    }
} 